<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ห้อง {{code}}</title>
    <style>
      textarea{
        margin-top: 10px;
        width: 80vw;
        height: 80vh;
      }
      body{
        text-align: center;
      }
    </style>
</head>
<body>
  <form id="update-form" method="POST" action="/update">
    <h3>ห้อง <span name="code">{{code}}</span></h3>
    <textarea name="input-field">{{text}}</textarea><br>
    <input type="submit" value="update">
  </form>
</body>
</html>